<div>Your Tasks</div>

<div>Add Tasks</div>
   <form method="post" action="/" id="form">
	  <div>
	    <label for="task-name">Task Title</label>
	    <input type="text" name="task-name" id="task-name" placeholder="Meeting with Jon" required />
	  </div>
	  <div>
	    <label for="email-input">Email</label>
	    <input type="email" name="email-input" id="email-input" placeholder="example@domain.com" required />
	  </div>
	  <div>
	    <label for="description-input">Password</label>
	    <input type="text" name="description-input" id="description-input" required />
	  </div>
  <div>
    <label for=""></label>
    <input type="submit" value="Create Task" />
  </div>
</form>